<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        ul li {list-style-type: none;}
    </style>
</head>
<body>
   <h1>
       The Goods ADD page
   </h1>
<form th:action="@{/goods/do2}" method="post">
    <url>
        <li>name:
        <li><input type="text" name="name">
        <li>remark:
        <li><textarea rows="5" cols="50" name="remark"></textarea>
        <li><input type="submit" value="add">
    </url>
</form>
</body>
</html>