<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        ul li {list-style-type: none;}
    </style>
</head>
<body>
<h1>goodsAdd pages</h1>
<form th:action="@{/goods/update}" method="post">
    <input type="hidden" name="id" th:value="${update.id}">
<ul>
    <li>name</li>
    <li><input type="text" name="name" th:value="${update.name}"></li>
    <li>remark</li>
    <li><textarea rows="3" cols="50" name="remark" th:text="${update.remark}"></textarea></li>
    <li><input type="submit" value="update Goods"></li>
</ul>
</form>
</body>
</html>