<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>goods pages</h1>
<a th:href="@{/goods/addGoodsPages}">添加商品</a>
       <table >
         <thead>
         <th>id</th>
         <th>name</th>
         <th>remark</th>
         <th>createdTime</th>
         <th colspan="2">operation</th>
         </thead>
           <tbody>
           <tr th:each="h:${good}">
               <td th:text="${h.id}">1</td>
               <td th:text="${h.name}">MySQL</td>
               <td th:text="${h.remark}">DBMS</td>
               <td th:text="${#dates.format(h.createdTime, 'yyyy/MM/dd HH:mm')}">2020/07/03</td>
               <td><a th:href="@{/goods/deleteById/{id}(id=${h.id})}">删除</a></td>
               <td><a th:href="@{/goods/findById/{id}(id=${h.id})}">修改</a></td>
           </tr>
           </tbody>
       </table>
</body>
</html>